
@use "@picocss/pico/scss/pico" with (
    $semantic-root-element: "#root"
);


#root {
    display: flex;
    flex-direction: column;

}

nav {
    padding: 0 2rem;
    background-color: blue;
    & ul {
        color: white;
    }
}

main {
     height: 100%;
}

footer {
    text-align: center;
    background-color: blue;
    padding: 0.25rem;
    & a {
        padding: 0.25rem;
        text-decoration: none;
        color: white;

        & svg {
            margin: 0.25rem;
            color: white;
        }
    }
}